{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="message">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<a href="{{ url_for('index') }}">Home</a>
<h1>File Upload</h1>
<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
  <input type="file" name="file" accept="text/plain" /><br />
  <input type="submit" value="Upload File" />
</form>
{% endblock %}
