* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%
}

.bgimg {
  background-image: url('/static/img/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

h1:hover {
  scale: 0.5;
}
